.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.52rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.08rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e54b21 !important;
}
.bg-success {
  background-color: #6842b2 !important;
}
.bg-info {
  background-color: #232323 !important;
}
.bg-warning {
  background-color: #6c6c6c !important;
}
.bg-danger {
  background-color: #ffe161 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e54b21 !important;
  border-color: #e54b21 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #9d3012 !important;
  border-color: #9d3012 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9d3012 !important;
  border-color: #9d3012 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e03418 !important;
  border-color: #e03418 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #922210 !important;
  border-color: #922210 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #922210 !important;
  border-color: #922210 !important;
}
.btn-info,
.btn-info:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #6842b2 !important;
  border-color: #6842b2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #432b73 !important;
  border-color: #432b73 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #432b73 !important;
  border-color: #432b73 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #6c6c6c !important;
  border-color: #6c6c6c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #414141 !important;
  border-color: #414141 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #414141 !important;
  border-color: #414141 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e54b21;
  color: #e54b21;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #9d3012 !important;
  background-color: transparent!important;
  border-color: #9d3012 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e54b21 !important;
  border-color: #e54b21 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e03418;
  color: #e03418;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #922210 !important;
  background-color: transparent!important;
  border-color: #922210 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e03418 !important;
  border-color: #e03418 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #6842b2;
  color: #6842b2;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #432b73 !important;
  background-color: transparent!important;
  border-color: #432b73 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #6842b2 !important;
  border-color: #6842b2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #6c6c6c;
  color: #6c6c6c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #414141 !important;
  background-color: transparent!important;
  border-color: #414141 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #6c6c6c !important;
  border-color: #6c6c6c !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e54b21 !important;
}
.text-secondary {
  color: #e03418 !important;
}
.text-success {
  color: #6842b2 !important;
}
.text-info {
  color: #232323 !important;
}
.text-warning {
  color: #6c6c6c !important;
}
.text-danger {
  color: #ffe161 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #8f2c11 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #841f0e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3d2668 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #393939 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #facb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e54b21;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #232323;
}
.alert-warning {
  background-color: #6c6c6c;
}
.alert-danger {
  background-color: #ffe161;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e54b21;
  border-color: #e54b21;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e54b21;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fadfd8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b09ada;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #acacac;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e54b21 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #e54b21;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e54b21;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e54b21;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e54b21;
  border-bottom-color: #e54b21;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e54b21 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e03418 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e54b21' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFCw1qGFAI {
  z-index: 1000;
  width: 100%;
}
.cid-sFCw1qGFAI nav.navbar {
  position: fixed;
}
.cid-sFCw1qGFAI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFCw1qGFAI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFCw1qGFAI .dropdown-item:hover,
.cid-sFCw1qGFAI .dropdown-item:focus {
  background: #e54b21 !important;
  color: white !important;
}
.cid-sFCw1qGFAI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFCw1qGFAI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFCw1qGFAI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFCw1qGFAI .nav-link {
  position: relative;
}
.cid-sFCw1qGFAI .container {
  display: flex;
  margin: auto;
}
.cid-sFCw1qGFAI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown-menu,
.cid-sFCw1qGFAI .navbar.opened {
  background: #fafafa !important;
}
.cid-sFCw1qGFAI .nav-item:focus,
.cid-sFCw1qGFAI .nav-link:focus {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFCw1qGFAI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFCw1qGFAI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fafafa;
}
.cid-sFCw1qGFAI .navbar.opened {
  transition: all 0.3s;
}
.cid-sFCw1qGFAI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFCw1qGFAI .navbar .navbar-logo img {
  width: auto;
}
.cid-sFCw1qGFAI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar.collapsed {
  justify-content: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFCw1qGFAI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFCw1qGFAI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFCw1qGFAI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFCw1qGFAI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFCw1qGFAI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFCw1qGFAI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFCw1qGFAI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFCw1qGFAI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFCw1qGFAI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFCw1qGFAI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFCw1qGFAI .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFCw1qGFAI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown-item.active,
.cid-sFCw1qGFAI .dropdown-item:active {
  background-color: transparent;
}
.cid-sFCw1qGFAI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFCw1qGFAI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFCw1qGFAI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFCw1qGFAI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFCw1qGFAI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sFCw1qGFAI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFCw1qGFAI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFCw1qGFAI .navbar {
    height: 70px;
  }
  .cid-sFCw1qGFAI .navbar.opened {
    height: auto;
  }
  .cid-sFCw1qGFAI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uEBLZaOi1M {
  background-image: url("../../../assets/images/illustration-14.webp");
}
.cid-uEBLZaOi1M .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEBLZaOi1M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEBLZaOi1M .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-uEBLZaOi1M .mbr-text,
.cid-uEBLZaOi1M .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uJcqlq073F {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uJcqlq073F .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJcqlq073F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJcqlq073F .item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-uJcqlq073F .icon-box {
  background: #e03418;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uJcqlq073F .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-uJcqlq073F .card {
    margin-bottom: 2rem;
  }
  .cid-uJcqlq073F .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-uJcqlq073F .item-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sFAZRnJnnI {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #1e1434;
}
.cid-sFAZRnJnnI .mbr-section-title {
  color: #ffffff;
}
.cid-sFAZRnJnnI .mbr-text {
  color: #ffffff;
}
.cid-uIJeS7hAgU {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-uIJeS7hAgU .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJeS7hAgU .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uIJeS7hAgU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJeS7hAgU .item-wrapper {
  background: #e03418;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uIJeS7hAgU .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uIJeS7hAgU .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-uIJeS7hAgU .card-title,
.cid-uIJeS7hAgU .iconfont-wrapper {
  color: #000000;
}
.cid-uIJeS7hAgU .card-text {
  color: #ffffff;
}
.cid-uIJeS7hAgU .content-head {
  max-width: 800px;
}
.cid-uIJeS7hAgU .mbr-section-title {
  color: #1e1434;
}
.cid-uIJeS7hAgU .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-uIJeS7hAgU .card-title,
.cid-uIJeS7hAgU .img-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-uIISX7E4BD {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/illustration-4.webp");
}
.cid-uIISX7E4BD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIISX7E4BD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIISX7E4BD .mbr-text,
.cid-uIISX7E4BD .mbr-section-btn {
  color: #232323;
}
.cid-uIISX7E4BD .card-title,
.cid-uIISX7E4BD .card-box {
  color: #ffffff;
}
.cid-uIISX7E4BD .mbr-text,
.cid-uIISX7E4BD .link-wrap {
  color: #ffffff;
}
.cid-uIILNfMSzx {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
}
.cid-uIILNfMSzx .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIILNfMSzx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIILNfMSzx .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uIILNfMSzx .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uIILNfMSzx .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uIILNfMSzx .mbr-section-title {
  color: #1e1434;
  text-align: left;
}
.cid-uIILNfMSzx .mbr-text,
.cid-uIILNfMSzx .mbr-section-btn {
  text-align: left;
}
.cid-sFzFvgBfc0 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sFzFvgBfc0 img,
.cid-sFzFvgBfc0 .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-sFzFvgBfc0 .item:focus,
.cid-sFzFvgBfc0 span:focus {
  outline: none;
}
.cid-sFzFvgBfc0 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sFzFvgBfc0 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sFzFvgBfc0 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sFzFvgBfc0 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sFzFvgBfc0 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sFzFvgBfc0 .mbr-section-title {
  color: #1e1434;
}
.cid-sFzFvgBfc0 .mbr-text,
.cid-sFzFvgBfc0 .mbr-section-btn {
  text-align: left;
}
.cid-sFzFvgBfc0 .item-title {
  text-align: left;
  color: #e03418;
}
.cid-sFzFvgBfc0 .item-subtitle {
  text-align: left;
}
.cid-sFzFvgBfc0 .mbr-section-subtitle {
  color: #1e1434;
}
.cid-uIJl4H1IXi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/illustration-4.webp");
}
.cid-uIJl4H1IXi .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJl4H1IXi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJl4H1IXi .mbr-text,
.cid-uIJl4H1IXi .mbr-section-btn {
  color: #232323;
}
.cid-uIJl4H1IXi .card-title,
.cid-uIJl4H1IXi .card-box {
  color: #ffffff;
}
.cid-uIJl4H1IXi .mbr-text,
.cid-uIJl4H1IXi .link-wrap {
  color: #ffffff;
}
.cid-uIJ9XEeyot {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uIJ9XEeyot img,
.cid-uIJ9XEeyot .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-uIJ9XEeyot .item:focus,
.cid-uIJ9XEeyot span:focus {
  outline: none;
}
.cid-uIJ9XEeyot .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uIJ9XEeyot .item {
    margin-bottom: 1rem;
  }
}
.cid-uIJ9XEeyot .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uIJ9XEeyot .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uIJ9XEeyot .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uIJ9XEeyot .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uIJ9XEeyot .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uIJ9XEeyot .mbr-section-title {
  color: #1e1434;
}
.cid-uIJ9XEeyot .item-title {
  text-align: center;
  color: #e03418;
}
.cid-uIJ9XEeyot .item-subtitle {
  text-align: left;
}
.cid-uIJ9XEeyot .mbr-text,
.cid-uIJ9XEeyot .item .mbr-section-btn {
  text-align: left;
}
.cid-uIJ9XEeyot .content-head {
  max-width: 800px;
}
.cid-uIJnGf3MzQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uIJnGf3MzQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJnGf3MzQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJnGf3MzQ .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-uIJnGf3MzQ .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-uIJnGf3MzQ .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uIJnGf3MzQ .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uIJnGf3MzQ .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uIJnGf3MzQ .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-uIJnGf3MzQ .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-uIJnGf3MzQ .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uJcmAROgAi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-uJcmAROgAi .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJcmAROgAi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJcmAROgAi .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-uJcmAROgAi .team-card:hover {
  transform: translateY(-10px);
}
.cid-uJcmAROgAi .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-uJcmAROgAi .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-uJcmAROgAi .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-uJcmAROgAi .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uJcmAROgAi .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-uJcmAROgAi .social-row {
  text-align: center;
}
.cid-uJcmAROgAi .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #1e1434;
  transition: all 0.3s;
}
.cid-uJcmAROgAi .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #1e1434;
  font-size: 1.5rem;
}
.cid-uJcmAROgAi .social-row .soc-item:hover {
  background-color: #1e1434;
}
.cid-uJcmAROgAi .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-uJcmAROgAi .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-uJcmAROgAi .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-uJcmAROgAi .embla__button--next,
.cid-uJcmAROgAi .embla__button--prev {
  display: flex;
}
.cid-uJcmAROgAi .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-uJcmAROgAi .embla__button {
    display: none;
  }
}
.cid-uJcmAROgAi .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uJcmAROgAi .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-uJcmAROgAi .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uJcmAROgAi .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uJcmAROgAi .embla__button {
    top: auto;
  }
}
.cid-uJcmAROgAi .embla {
  position: relative;
  width: 100%;
}
.cid-uJcmAROgAi .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uJcmAROgAi .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uJcmAROgAi .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uJcmAROgAi .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-uIJpLTfzI2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e03418;
}
.cid-uIJpLTfzI2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJpLTfzI2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJpLTfzI2 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-uIJpLTfzI2 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-uIJpLTfzI2 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uIJpLTfzI2 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-uIJpLTfzI2 .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #e54b21;
}
.cid-uIJpLTfzI2 .mbr-section-title {
  color: #ececec;
}
.cid-sFAyMcKwph {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sFAyMcKwph .media-container-row {
  justify-content: space-between;
}
.cid-sFAyMcKwph .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sFAyMcKwph .text-content {
    max-width: none;
  }
}
.cid-sFAyMcKwph .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sFAyMcKwph .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-sFAyMcKwph .mbr-iconfont-social:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 768px) {
  .cid-sFAyMcKwph .icons {
    justify-content: center !important;
  }
  .cid-sFAyMcKwph .text-content * {
    text-align: center;
  }
}
.cid-sFAyMcKwph .mbr-section-title {
  color: #353535;
}
.cid-sFAyMcKwph P {
  color: #000000;
}
.cid-uIJ6DpnGmC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1e1434;
}
.cid-uIJ6DpnGmC .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJ6DpnGmC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJ6DpnGmC .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uIJ6DpnGmC .row {
    text-align: center;
  }
  .cid-uIJ6DpnGmC .row > div {
    margin: auto;
  }
  .cid-uIJ6DpnGmC .social-row {
    justify-content: center;
  }
}
.cid-uIJ6DpnGmC .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-uIJ6DpnGmC .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uIJ6DpnGmC .list {
    margin-bottom: 0rem;
  }
}
.cid-uIJ6DpnGmC .mbr-text {
  color: #bbbbbb;
}
.cid-uIJ6DpnGmC .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-uIJ6DpnGmC .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-sFCw1qGFAI {
  z-index: 1000;
  width: 100%;
}
.cid-sFCw1qGFAI nav.navbar {
  position: fixed;
}
.cid-sFCw1qGFAI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFCw1qGFAI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFCw1qGFAI .dropdown-item:hover,
.cid-sFCw1qGFAI .dropdown-item:focus {
  background: #e54b21 !important;
  color: white !important;
}
.cid-sFCw1qGFAI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFCw1qGFAI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFCw1qGFAI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFCw1qGFAI .nav-link {
  position: relative;
}
.cid-sFCw1qGFAI .container {
  display: flex;
  margin: auto;
}
.cid-sFCw1qGFAI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown-menu,
.cid-sFCw1qGFAI .navbar.opened {
  background: #fafafa !important;
}
.cid-sFCw1qGFAI .nav-item:focus,
.cid-sFCw1qGFAI .nav-link:focus {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFCw1qGFAI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFCw1qGFAI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #fafafa;
}
.cid-sFCw1qGFAI .navbar.opened {
  transition: all 0.3s;
}
.cid-sFCw1qGFAI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFCw1qGFAI .navbar .navbar-logo img {
  width: auto;
}
.cid-sFCw1qGFAI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar.collapsed {
  justify-content: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFCw1qGFAI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFCw1qGFAI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFCw1qGFAI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFCw1qGFAI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFCw1qGFAI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFCw1qGFAI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFCw1qGFAI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFCw1qGFAI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFCw1qGFAI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFCw1qGFAI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFCw1qGFAI .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFCw1qGFAI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown-item.active,
.cid-sFCw1qGFAI .dropdown-item:active {
  background-color: transparent;
}
.cid-sFCw1qGFAI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFCw1qGFAI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFCw1qGFAI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFCw1qGFAI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFCw1qGFAI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sFCw1qGFAI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFCw1qGFAI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFCw1qGFAI .navbar {
    height: 70px;
  }
  .cid-sFCw1qGFAI .navbar.opened {
    height: auto;
  }
  .cid-sFCw1qGFAI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uIJzpRG42z {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uIJzpRG42z .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJzpRG42z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJzpRG42z .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-uIJzpRG42z .mbr-section-title {
  color: #1e1434;
}
.cid-uIJzpRG42z .mbr-section-subtitle {
  color: #1e1434;
}
.cid-uIJ6DpnGmC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1e1434;
}
.cid-uIJ6DpnGmC .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIJ6DpnGmC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIJ6DpnGmC .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uIJ6DpnGmC .row {
    text-align: center;
  }
  .cid-uIJ6DpnGmC .row > div {
    margin: auto;
  }
  .cid-uIJ6DpnGmC .social-row {
    justify-content: center;
  }
}
.cid-uIJ6DpnGmC .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-uIJ6DpnGmC .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uIJ6DpnGmC .list {
    margin-bottom: 0rem;
  }
}
.cid-uIJ6DpnGmC .mbr-text {
  color: #bbbbbb;
}
.cid-uIJ6DpnGmC .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-uIJ6DpnGmC .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-uIJ6DpnGmC div > *:last-child {
    margin-top: 0 !important;
  }
}
